.container
{
	padding-left: none;
	padding-right:none
}
.row
{
	background-color: #F0EBF4;
}
.table
{
	border-top: none;
	
}
.borderless th, .borderless td
{
	border: none;
}
.table-responsive
{
	border: none;
	border-top: none;
	border-bottom: none;
}
#movieG
{
	padding-top: 0.6%;
	text-align: center;
	width: 100%
}
#options
{
	padding-top: 1.4%;
	text-align: center;
	width: 100%
}
#signUpIn
{
	
	text-align: center;
	width: 100%
}
#formLogin
{
	text-align: center;
	background-color: #F0EBF4;
}
#inputBox
{
	background-color: #F0EBF4;
	text-align: center;
}
#welcomeP
{
	background-color: #F0EBF4;
	text-align: center;
}
#registerP
{
	background-color: #F0EBF4;
	text-align: center;
}
#editPage
{
	border:1px solid white;
	background-color: #F0EBF4;
	text-align: center;
}
#btnMovies
{
	width: 45%;
	padding-bottom: 5%;
	padding-top: 5%;  
}
#btnUp
{
	margin-bottom: 5px;
	width: 40%;
}
#btnIn
{
	width: 40%;
}
#btnHome
{
	margin-bottom: 5px;
	width: 40%;
}
#btnOut
{
	width: 40%;
}
#contentImg
{
	margin-left: 21%;
	width: 200px;
	height: 320px;
}
#menuP
{
	background-color: #F0EBF4;
	text-align: center;
}
#headerBody
{
	background-color: #1F2833;
}
#headerCFID
{
	padding: 0;
}
#loginBar
{
	padding: 0;
	
}