.container-fluid 
{

}
.grid-container 
{
	
}
div
{
	border:1px solid white;
}
.container
{
	
}
.row
{
	background-color: #f5f9fa;
}

#movieG
{
	padding-top: 1%;
	text-align: center;
	width: 100%
}
#options
{
	padding-top: 1.3%;
	text-align: center;
	width: 100%
}
#signUpIn
{
	
	text-align: center;
	width: 100%
}
#formLogin
{
	text-align: center;
	background-color: #f5f9fa;
}
#inputBox
{
	background-color: #f5f9fa;
	text-align: center;
}
#welcomeP
{
	background-color: #f5f9fa;
	text-align: center;
}
#registerP
{
	background-color: #f5f9fa;
	text-align: center;
}
#editPage
{
	background-color: #f5f9fa;
	text-align: center;
}